---
# RISC OS CI build through build.riscos.online (and we build for linux too!)
#
# To reuse this configuration with your own repository:
#
#   - Create a .robuild.yaml to describe what should be built on RISC OS.
#       - `jobs.build.script` should be a list of commands to run on RISC OS
#       - `jobs.build.artifacts.path` should be the directory to zip.
#   - Create a VersionNum file if you wish to use the automated versioning
#     in the same style as the RISC OS sources. [optional]
#   - Update the 3rd step ('give the archive a versioned name') to give a
#     suitable name for the archive.
#   - Update the 4th step ('upload-artifacts') to include the same names.
#
# The 'release' job is triggered when a tag starting with a 'v' is created,
# which will create a GitHub release for the repository with the name of the
# version tag. The release will be a draft, and should be updated with
# changes as you see fit.
#

name: RISC OS

# Controls when the action will run. Triggers the workflow on:
#   * push on any branch.
#   * tag creation for tags beginning with a 'v'
#   * pull requests
on:
  push:
    branches: ["*"]
    tags: ["v*"]
  pull_request:
    types: [opened, reopened, synchronize]
    branches: ["*"]

jobs:
  build-linux:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version.outputs.version }}
      leafname: ${{ steps.version.outputs.leafname }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: Build for Linux
        run: |
          cd Source/posix

          # We can only build decdrawf at the moment
          make decdrawf

      - name: Archive the built files
        run: |
          cd Source/posix
          zip -9r ubuntu.zip decdrawf mkdrawf

      - name: Give the output a versioned name
        id: version
        run: |
          if [[ -f Source/VersionNum ]] ; then
              version=$(sed '/MajorVersion / ! d ; s/.*MajorVersion *"\(.*\)"/\1/' Source/VersionNum)
          else
              version=$(git rev-parse --short HEAD)
          fi
          echo "This is version: $version"
          if [ -f Source/posix/ubuntu.zip ] ; then
              cp Source/posix/ubuntu.zip "mkdrawf-tools-ubuntu-$version.zip"
          else
              echo "No archive was built for tools?"
              exit 1
          fi
          echo "version=$version" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: Ubuntu-build
          path: mkdrawf-*.zip

  build-riscos:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    concurrency:
      group: riscos-build-server
    outputs:
      version: ${{ steps.version.outputs.version }}
      leafname: ${{ steps.version.outputs.leafname }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: Obtain prerequisite build tool
        run: |
          # Fetch the build client
          curl -s -L -o riscos-build-online https://github.com/gerph/robuild-client/releases/download/v0.07/riscos-build-online && chmod +x riscos-build-online

      - name: Build tools through build.riscos.online
        run: |
          # Zip up the source to send to robuild
          cd Source
          zip -q9r /tmp/source-archive.zip * .robuild.yaml
          cd ..

          # Send the archive file to build service (timeout of 60 seconds)
          ./riscos-build-online -i /tmp/source-archive.zip -a off -t 60 -o /tmp/tools

      - name: Build goodies through build.riscos.online
        run: |
          # Zip up the source to send to robuild
          cd Goodies
          rm /tmp/source-archive.zip
          zip -q9r /tmp/source-archive.zip * .robuild.yaml
          cd ..

          # Send the archive file to build service (timeout of 60 seconds)
          ./riscos-build-online -i /tmp/source-archive.zip -a off -t 60 -o /tmp/goodies

      - name: Give the output a versioned name
        id: version
        run: |
          if [[ -f Source/VersionNum ]] ; then
              version=$(sed '/MajorVersion / ! d ; s/.*MajorVersion *"\(.*\)"/\1/' Source/VersionNum)
          else
              version=$(git rev-parse --short HEAD)
          fi
          echo "This is version: $version"
          if [ -f /tmp/tools,a91 ] ; then
              cp /tmp/tools,a91 "mkdrawf-tools-$version.zip"
          else
              echo "No archive was built for tools?"
              exit 1
          fi
          if [ -f /tmp/goodies,a91 ] ; then
              cp /tmp/goodies,a91 "mkdrawf-goodies-$version.zip"
          else
              echo "No archive was built for goodies?"
              exit 1
          fi
          echo "version=$version" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: RISCOS-build
          path: mkdrawf-*.zip
        # The artifact that is downloadable from the Actions is actually a zip of the artifacts
        # that we supply. So it will be a regular Zip file containing a RISC OS Zip file.

  # The release only triggers when the thing that was pushed was a tag starting with 'v'
  release:
    needs: build-riscos
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - name: Download built RISC OS binary
        uses: actions/download-artifact@v7
        with:
          name: RISCOS-build

      - name: Download built Ubuntu binary
        uses: actions/download-artifact@v7
        with:
          name: Ubuntu-build

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          prerelease: false
          draft: true
          artifacts: mkdrawf-*.zip
          artifactContentType: application/zip
